
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #F7F4EB;
    border-radius: 5px;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    align-self: center;
    justify-self: center;
}

.text-editor {
    font-family: 'Roboto', sans-serif;
    display: grid;
    color: #F7F4EB;
    background: #1D1D24;
    padding: 1.5rem;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.text-editor-wrapper {
    display: grid;
    grid-gap: 1rem;
    overflow-y: auto;
    grid-template-rows: 1fr 1fr 6fr 1fr 1fr;
}

/* button styles */
.btn {
    cursor: pointer;
    background: #27272F;
    border: none;
    color: #F7F4EB;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 1rem .5rem;
}

/* text navigation bar */
.text-editor-navbar {
    background: #27272F;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    grid-gap: 1.4rem;
    line-height: 2rem;
    max-height: 50px;
}

.navbar-item {
    background: transparent;
    border: none;
    color: #F7F4EB;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.navbar-item:hover {
    color: #F9701A;
}



.navbar-styling {
    display: flex;
    grid-gap: .6rem;
}

/* editor styling */

.editor-body {
    background: #27272F;
    border-radius: 10px;
    overflow-y: auto;
    
}

.text {
    padding: 1.5rem;
    line-height: 2rem;
    height: 100%;
}

/* file management styling */

.save-and-load-section {
    display: grid;
    grid-gap: 1rem;
}

.buttons-wrap {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}


#file-selector::-webkit-file-upload-button {
    cursor: pointer;
    background: #27272F;
    border: none;
    color: #F7F4EB;
    border-radius: 10px;
    padding: 1rem;
  }
  #file-selector::-ms-browse {
    cursor: pointer;
    background: #27272F;
    border: none;
    color: #F7F4EB;
    border-radius: 10px;
    padding: 1rem;
  }

  #file-selector::file-selector-button {
    cursor: pointer;
    background: #27272F;
    border: none;
    color: #F7F4EB;
    border-radius: 10px;
    padding: 1rem;
  }

/* footer */
.footer {
    font-size: .7rem;
}

/* confirmation modal */

.confirmation-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    height: 40%;
    width: 80%;
    background: #1D1D24;
    border-radius: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-gap: 2rem;
    transition: .3s all ease-in-out;
    padding: 0 2rem;
    
}

.modal-in {
    
    transform: translate(-50%, -50%);    
    transition: .3s all ease-in-out;
    
}

@media(min-width: 1000px) {
    .text-editor-wrapper {
        width: 50%;
        justify-self: center;
        grid-gap: 1;
    }
    .text-editor-navbar {
        grid-gap: 2.1rem;
        align-self: center;
    }
    .navbar-styling {
        grid-gap: 1.2rem;
    }
    
}
@media (min-width: 1920px) {
    .text-editor-wrapper {
        grid-gap: 0;
    }
    .save-and-load-section {
        grid-gap: 1rem;
        margin: 1rem 0;
    }
}

@media(max-width: 400px) {
    .editor-body {
        min-height: 200px;
    }
}

@media (orientation: landscape) {
    .editor-body {
        min-height: 200px;
    }
  }