/* bg color #1D1D24 */
/* primary light color #27272F */
/* font color #F7F4EB */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #F7F4EB;
    border-radius: 5px;
}

.text-editor {
    font-family: 'Roboto', sans-serif;
    display: grid;
    color: #F7F4EB;
    background: #1D1D24;
    padding: 1.5rem;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}

.text-editor-wrapper {
    display: grid;
    grid-gap: 1rem;
    overflow-y: auto;
    grid-template-rows: 1fr 1fr 6fr 1fr 1fr;
}

/* button styles */
.btn {
    cursor: pointer;
    background: #27272F;
    border: none;
    color: #F7F4EB;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 1rem .5rem;
}

/* text navigation bar */
.text-editor-navbar {
    background: #27272F;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    grid-gap: 1.4rem;
    line-height: 2rem;
    max-height: 50px;
}

.navbar-item {
    background: transparent;
    border: none;
    color: #F7F4EB;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.navbar-item:hover {
    color: #F9701A;
}



.navbar-styling {
    display: flex;
    grid-gap: .6rem;
}

/* editor styling */

.editor-body {
    background: #27272F;
    border-radius: 10px;
    overflow-y: auto;
    
}

.text {
    padding: 1.5rem;
    line-height: 2rem;
    height: 100%;
}

/* file management styling */

.save-and-load-section {
    display: grid;
    grid-gap: 1rem;
}

.buttons-wrap {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}


#file-selector::-webkit-file-upload-button {
    cursor: pointer;
    background: #27272F;
    border: none;
    color: #F7F4EB;
    
    border-radius: 10px;
    padding: 1rem;
  }

/* footer */
.footer {
    font-size: .7rem;
}

@media(min-width: 1000px) {
    .text-editor-wrapper {
        width: 60%;
        justify-self: center;
    }
}

@media(max-width: 400px) {
    .editor-body {
        min-height: 200px;
    }
}